
body {
  font-family: Arial, sans-serif;
  background-color: #FFD700; /* Jaune cadmium */
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  padding: 1em;
  background-color: #2C2C34; /* Gris de Payne */
  color: white;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 1em;
}
.gallery img {
  width: 200px;
  height: auto;
  border: 4px solid white;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}
